/*
    styles.css
    External CSS

    Course: ACS-1809
    Section: 004
    Assignment: Final Project
    Instructor: James Deng
    Author: Tyler Cronin
    Student ID: 3027086

    A quick table of contents for your convenience:
    1. Main Body Styles
    2. Page Links
    3. Top Navigational Bar & Corresponding Links
    4. Photographs
    5. Zoom Effect
    6. Contact Form
*/

/* 1. Main Body Styles */

* { /* Here, the asterisk is used as a universal selector to apply the values below */
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 900px;
    min-height: 100px;
    overflow: hidden;
}

body {
    background-color: snow;
}

.heading {
    text-align: center; 
    font-family: Verdana, Tahoma, sans-serif;
    position: relative;
    font-size: 100%; 
    font-style: bold; 
    color: snow;
    background-image: linear-gradient(90deg, black 35%, rgb(34, 34, 34) 50%, rgb(70, 70, 70) 80%);
    padding: 20px;
}

.text {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14pt; 
    color: rgb(32, 32, 32);
    text-shadow: 2px 2px 4px rgba(53, 53, 53, 0.5); 
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    align-items: center;
    justify-content: center;
}

.textBox {
    max-width: 550px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.aboutMe {
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.bottomLink {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 550px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

footer {
    text-align: center; 
    box-sizing: content-box; 
    border-top-width: 2px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-right-width: 0px;
    border-style: solid; 
    margin-top: 80%; 
    padding: 10px; 
    border-color: black; 
    background-image: linear-gradient(90deg, black 35%, rgb(34, 34, 34) 50%, rgb(70, 70, 70) 80%);
}

.copyright {
    font-family: Verdana; 
    font-size: 11pt; 
    font-style: Normal; 
    color: whitesmoke;
}

.footnote {
    font-family: Courier; 
    font-size: 9pt;
    font-style: italic; 
    color: whitesmoke;
}

/* 2. Page Links */

a {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14pt;
}

a:link {
    color: rgb(11, 5, 63);
}

a:visited {
    color: darkviolet;
}

a:hover {
    color: royalblue;
}

a:active {
    color: red;
}

/* 3. Top Navigational Bar & Corresponding Links */

.banner {
    background-image:url(../Images/California/Oranges.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 400px;
}

.bannerText {
    text-align: center;
    position: relative;
    color:seashell;
    text-shadow: 4px 4px 6px black;
    font-size: 400%;
    font-family: Verdana, Tahoma, sans-serif;
    padding-top: 25px;
    padding-bottom: 200px;
    background-color: rgba(0, 0, 0, 0.4);
}

nav {
    width: 100%;
    height: 5%;
    background-color: rgb(39, 39, 39);
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 35%, rgb(190, 190, 190) 50%, rgb(70, 70, 70) 80%);
    position: relative;
}

.logo {
    width: 100px;
    height: 100px;
}

ul {
    margin: 0px;
    padding-top: 10px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 110px;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 100%;
    font-family: Verdana, Tahoma, sans-serif;
    font-style: bold;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0;
    position: relative;
}

ul li a:link {
    color: rgb(39, 39, 39);
}

ul li a:visited {
    color: darkviolet;
}

ul li a:hover {
    display: block;
    color: rgb(53, 104, 255);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

ul li a:focus {
    border: 4px solid violet;
    border-radius: 10px;
}

ul li a:active {
    color: rgb(177, 31, 31);
}

/* 4. Photographs */

.photoOfTheDay {
    width: 100%;
    height: 100%;
    margin: 20px;
    position: relative;
}

.aboutMePhoto {
    float: right;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin-left: 100px;
}

.photoGallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 30px;
}

.photo {
    position:relative;
    height: 500px;
    border-radius: 10px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.photo img:hover {
    transform: scale(1.1);
}

/* 5. Zoom Effect */

.zoomEffect {
    position: absolute;
    top: 0;
    padding-top: 300px;
    padding-left: 25%;
    padding-right: 30%;
    padding-bottom: 1500px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.zoomEffect:target {
    display: flex;
}

.closeButton {
    position: absolute;
    width: 5px;
    height: 5px;
    padding-left: 1100px;
    top: 320px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton::after {
    content: "Close";
    color: white;
    background-color: darkslategrey;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
}

/* 6. Contact Form */

.contact {
    background-color: rgb(48, 48, 48);
    padding: 100px;
    height: 100%;
}

.contactForm {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contactFormText {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: none;
    background-color: rgb(219, 219, 219);
    padding: 20px 40px;
    outline: none;
    color: rgb(48, 48, 48);
}

textarea.contactFormText {
    resize: none;
    height: 120px;
}

.contactButton {
    float: right;
    border: none;
    background-color: rgb(22, 11, 65);
    color: ghostwhite;
    padding: 12px 50px;
    border-radius: 10px;
}

.tableWrap {
    width: 100%;
}

.inputText {
    color: rgb(238, 238, 238);
}

.contactFormText:hover {
    background-color: rgb(163, 207, 167);
}

.contactFormText:focus {
    border: 2px solid rgb(96, 184, 255);
}