html,
body {
    height: 100%;
    margin: 0;
    background: #262626;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
    background:#262626;
}

.notes__sidebar {
    border-right: 2px solid #39af43;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
    background: #262626;
}

.notes__add {
    background: #39af43;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #af3d00;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: rgb(82, 82, 82);
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size:1.2em;
    color: #fff;
}

.notes__small-body {
    padding: 0 10px;
    color: #fff;
}

.notes__small-updated {
    color: #aaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
    color: #fff;
}